* {
    margin: 0;
    padding: 0;
}

.load {
    animation: slide 5s;
}

.slider {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 15s infinite;
    overflow: hidden;
    position: relative;
}

.slider:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.3;
}

.content {
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
}

.principal h1 {
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.principal p {
    font-size: 20px;
}

@-webkit-keyframes slide {
    0% {
        background-image: url(https://picsum.photos/1200/800?image=1041);
    }
    25% {
        background-image: url(https://picsum.photos/1200/800?image=1031);
    }
    50% {
        background-image: url(https://picsum.photos/1200/800?image=961);
    }
    75% {
        background-image: url(https://picsum.photos/1200/800?image=960);
    }
    100% {
        background-image: url(https://picsum.photos/1200/800?image=875);
    }
}

#sliders {
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
}
.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
}

#aboutusbg{
    background-image: url(https://picsum.photos/1200/800?image=1022);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
.active{
    border-bottom: 2px solid white;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 300px) {
    #positionnav{
        margin-bottom:174.5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    #positionnav{
        margin-bottom:174.5px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
    
    #positionnav{
        margin-bottom:150px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {

    #positionnav{
        margin-bottom:180px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #positionnav{
        margin-bottom:349px;
    }
}

